@charset "UTF-8";

 /* 체크박스 */

.all_check_input{
	margin: 18px 0 18px 18px;
}
.all_chcek_span{
	padding-left: 8px;
   	font-size: 20px;
   	font-weight: bold;		
}
	
#size{
	width:20px;
	height:20px;
}	
		
.line{
    width: 100%;
    border-top:1px solid #c6c6cf;  		
}

.paging{
	margin-left:200px;
	margin-bottom: 10px;
}

.search_wrap{
/* 	margin-left:200px;
	margin: 0 auto; */
}

/* 카트 메인 영역 */
.content_area{
	width: 100%;
    min-height: 1000px;
/*     margin: 0 auto; */
}

table{
 	border-collapse: collapse;
 	width: 100%;
}

.table_text_align_center{
	text-align: center;
}	

caption{
    visibility: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden; 
}	  

.content_subject{
	height: 110px;
    line-height: 110px;
    background-color: #0ff096;
    margin-bottom: 60px; 
}
.content_subject span{ 
    padding-left: 30 px;
    display: inline-block;
    color: white;
    font-size: 50px;
    font-weight: bolder; 
}
	 
.content_totalCount_section{
 	margin-bottom: 12px;
}

.content_btn_section{
 	margin-top: 20px;
 	text-align: right;
}

.content_btn_section a{
    color: #fefeff;
    background-color: #400040;
    min-width: 125px;
    padding: 17px 25px;
    display: inline-block;
    height: 39px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-right: 14px;
    line-height: 39px; 	
}
	 
.subject_table{
	font-size: 14px;
    line-height: 20px;
    width: 100%;
    text-align: center; 	
}

th{
	text-align: center;
    color: #333;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #80ff80;
    background: #b6ff80;
    padding: 2px 0;	 
}

.td_width_1{
	width: 5%;
	text-align: center;
}	 	 	
 
.td_width_2{
	width: 10%;
}	 	 

.td_width_3{
	width: 25%;
	text-align: center;
}	 

.td_width_4{
	width: 15%;
	
}	

.cart_table{
	font-size: 14px;
	line-height: 20px;
}  

.cart_table tr{
	height: 110px;
}

.price_td{
	padding-left: 40px;
}

.red_color{
	color : red;
}

.green_color{
	color : green;
}

.cart_table td{
	border-bottom: 1px solid #e7e7e7;
}

.quantity_div{
	position: relative;
    width: 42px;
    height: 25px;
    text-align: left;
    margin: 5px auto;		
}

.quantity_input{
	position: absolute;
	width: 27px;
    height: 25px;
    text-align: center;
    border: 1px solid #c6c6c6;
    border-right: 0px;
    line-height: 19px;
    font-size: 12px;
    color: #4c4848;	
    left: 0;
}

.quantity_btn{
	position: absolute;
    border: 1px solid #aaa;
    color: #000000;
    width: 14px;
    height: 13px;
    padding: 0px;
    background-color: #fff;
    font-weight: bold;
    font-size: 7px;
    line-height: 6px;
    vertical-align: middle;	
}

.plus_btn{
	top: 0;
	right: 0
}

.minus_btn{
	bottom: 0;
	right: 0
}	
	
.quantity_modify_btn{
	border: 1px solid #d0d0d0;
    height: 25px;
    line-height: 25px;
    background-color: #fff;
    text-align: center;
    width: 40px;
    display: inline-block;
    padding: 0px;
    /* margin-top: 3px; */		
}

.table_text_align_center{
	text-align: center;
}

.delete_btn{
	width: 40px;		
}
		
.content_total_section{
    background-color: #0ff096;
}	
	
.total_wrap{
	width: 80%;
    margin: auto;
    padding: 10px 0 10px 0;	
}

.total_wrap td{
	width : 50%;
}

.finalTotalPrice_span{
	color: #854A72;
	font-size: 17px;
	font-weight: bold;
}

.totalPoint_span{
	font-size: 17px;
	font-weight: bold;		
}

.boundary_div{
	font-size: 0;
    border: 1px dotted #d1c7c7;
    margin: 5px 0 5px 0;		
}