@charset "UTF-8";


.header{
    width: 100%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0 auto;
    background-image: url("../images/beauti.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: larger;
}

.menu{
    width: 600px;
}

.menu > ul{
    height: 40px;
    display: flex;
    justify-content: space-around;	
    align-items: center;
}

.menu a{
    color:white;
}

.login{
    width: 250px;
    margin-left: 50px;

}

.login > ul{
    height: 40px;
    justify-content: space-around;	
    display: flex;
    align-items: center;
}

.login a{
    color:white;
}


.join_form > div > fieldset{
	margin: 10px 10px;
	border: 0px;
}

.login_form > div > fieldset{
	margin: 10px 10px;
	border: 0px;
}


.icon{
	vertical-align: bottom;
}




