.header{
    width: 80%;
    margin: 0 auto;
    background-color: red;
    height: 90px;
    overflow: hidden;
}


.menu_list{
        font-size: 13px;
       letter-spacing: 2px;
       margin-top: 2px;
       margin-bottom: 10px;
       text-align: right;
}

.m{
    display: inline;
}

.store_list{
    font-size: 10;
    display: inline;
}
.sm{
    display: inline;
    font-size: 10;
}