

*{
    margin: 0;
    padding: 0;

}

a{
    
    color: black;
}


/* @charset "UTF-8"; */
/* *{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;

    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
} */

