<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>


		<typeAlias type="com.cgv.s1.member.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.cgv.s1.member.address.MemberAddressDTO" alias="MemberAddressDTO"/>
		<typeAlias type="com.cgv.s1.board.review.ReviewDTO" alias="ReviewDTO"/>
		<typeAlias type="com.cgv.s1.board.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.cgv.s1.board.review.ReviewFileDTO" alias="ReviewFileDTO"/>
		<typeAlias type="com.cgv.s1.board.qna.QnaFileDTO" alias="QnaFileDTO"/>
		<typeAlias type="com.cgv.s1.board.BoardFileDTO" alias="BoardFileDTO"/>
		<typeAlias type="com.cgv.s1.board.BoardDTO" alias="BoardDTO"/>
  		<typeAlias type="com.cgv.s1.util.Pager" alias="Pager"/>
  		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="com.cgv.s1.oproduct.OproductDTO" alias="OproductDTO"/>
		<typeAlias type="com.cgv.s1.oproduct.OproductFileDTO" alias="OproductFileDTO"/>
		<typeAlias type="com.cgv.s1.oproduct.OproductFileThumbDTO" alias="OproductFileThumbDTO"/>
		<typeAlias type="com.cgv.s1.oproduct.OproductTypeDTO" alias="OproductTypeDTO"/>
		<typeAlias type="com.cgv.s1.ocart.OcartDTO" alias="OcartDTO"/>


  	</typeAliases>
  </configuration>
