<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../resources/css/reset.css">
</head>
<body>
    <link rel="stylesheet" href="../../../resources/css/header.css">
    <div class="header">
        <div class="hedaer_wrapper">
            <div class="top_util">
                <ul class="menu_list">
                    <li class="m"><a href="#">회원가입</a></li>
                    <li class="m"><a href="#">로그인</a></li>
                    <li class="m"><a href="#">장바구니</a></li>
                    <li class="m"><a href="#">주문배송</a></li>
                    <li class="m"><a href="#">고객센터</a></li>
                    <li class="m"><a href="#">매장안내</a></li>
                </ul>
            </div>
            <div class="header_inner">
                <div class="logo">
                    <a href="#">
                        <img class="logo" src="../../../resources/images/loginMember.png" alt="" height="42px" width="248px">
                    </a>
                </div>
            </div>
        </div>
        <div class="store_wrapper">
            <div class="grp">
                <a class="category" href="#">카테고리</a>
                
                <ul class="store_list">
                    <li class="sm"><a href="#">오특</a></li>
                    <li class="sm"><a href="#">신상</a></li>
                    <li class="sm"><a href="#">랭킹</a></li>
                    <li class="sm"><a href="#">프리미엄관</a></li>
                    <li class="sm"><a href="#">기획전</a></li>
                    <li class="sm"><a href="#">세일</a></li>
                    <li class="sm"><a href="#">기프트카드</a></li>
                    <li class="sm"><a href="#">멤버십</a></li>
                    <li class="sm"><a href="#">이벤트</a></li>
                </ul>    
            </div>     
        </div>
    </div>
    
</body>
</html>