<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cgv.s1.member.address.MemberAddressDAO">
	<select id="list" parameterType="MemberDTO" resultType="MemberAddressDTO">
		SELECT * FROM OMEMBERADDRESS WHERE ID=#{id} ORDER BY MANUM ASC
	</select>
	<select id="addressDetail" parameterType="MemberAddressDTO" resultType="MemberAddressDTO">
		SELECT * FROM OMEMBERADDRESS WHERE MANUM=#{maNum}
	</select>
	<insert id="add">
		INSERT INTO OMEMBERADDRESS (MANUM, ID, MADDRESS1, MADDRESS2, ADDRESSNAME)
		VALUES (MEMBERA_SEQ.NEXTVAL, #{id}, #{mAddress1}, #{mAddress2}, #{addressName})
	</insert>
	<delete id="delete" parameterType="MemberAddressDTO">
		DELETE OMEMBERADDRESS WHERE MANUM=#{maNum}
	</delete>
	<update id="update" parameterType="MemberAddressDTO">
		UPDATE OMEMBERADDRESS SET ADDRESSNAME=#{addressName}, MADDRESS1=#{mAddress1}, MADDRESS2=#{mAddress2}
		WHERE MANUM=#{maNum}
	</update>
</mapper>