<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.cgv.s1.ocart.OcartDAO">


		<!-- 검색용도 활용 total -->
		<select id="total" resultType="Long" parameterType="Pager">
			SELECT COUNT(CARTID) FROM
			 (SELECT * FROM OCART WHERE
			 CARTID>0)
			 <!-- 일단 검색 뺴봄 -->
			<!--  AND   
			 LIKE '%'||#{search}||'%') -->
		</select>
		
 
		<!-- 카트 추가 -->
 		<insert id="addCart" parameterType="OcartDTO">	
 			<selectKey keyProperty="cartId" order="BEFORE" resultType="Long">
				SELECT OCART_SEQ.NEXTVAL FROM DUAL
			</selectKey>	
			<!-- payCheck는 default 0 -->
			INSERT INTO OCART(CARTID, ID, PRODUCTNUM, PRODUCTAMOUNT)
			VALUES(#{cartId}, #{id}, #{productNum}, #{productAmount})
		</insert> 
	
		<!-- 카트 삭제 -->
 		<delete id="deleteCart" parameterType="OcartDTO">
			DELETE FROM OCART WHERE CARTID = #{cartId}
		</delete>
		
		<!-- 카트 수량 수정 -->
 		<update id="modifyAmount" parameterType="OcartDTO">
			UPDATE OCART SET PRODUCTAMOUNT=#{productAmount} WHERE CARTID = #{cartId}
		</update> 

		<!-- 카트 목록 -->
 		<select id="getCart" resultType ="OcartDTO" parameterType="OcartDTO">
			SELECT O.CARTID, O.ID, O.PRODUCTNUM, O.PRODUCTAMOUNT, OP.PRODUCTNAME, OP.PRODUCTPRICE, OP.PRODUCTDC, OPFT.FILENAMETHUMB, OPFT.ORINAMETHUMB
			FROM 
				(SELECT * FROM
			    (SELECT ROWNUM R, N.* FROM
			    (SELECT * FROM OCART WHERE 
			    CARTID>0 
			    <!-- 일단 검색 뺴봄 -->
			    ORDER BY CARTID DESC) N)
				WHERE R BETWEEN #{startRow} AND #{lastRow}) O
					LEFT OUTER JOIN
				OPRODUCT OP
				ON O.PRODUCTNUM = OP.PRODUCTNUM
					LEFT OUTER JOIN
			    OPRODUCTFILETHUMB OPFT
			    ON O.PRODUCTNUM = OPFT.PRODUCTNUM  
			WHERE id=#{id}
		</select>
		

		


		<!-- 밑에 최종 지우기 -->
		<!-- 카트 총 리스트(모든항목) 검색용도 필요없을수 있음 -->
		<!-- <select id="list" resultType="OcartDTO" parameterType="Pager">
			SELECT * FROM
			    (SELECT ROWNUM R, N.* FROM
			    (SELECT * FROM OCART WHERE 
			    CARTID>0 
			    AND
				PRODUCTNUM		    
			    LIKE '%'||#{search}||'%'
			   ORDER BY CARTID DESC) N)
			WHERE R BETWEEN #{startRow} AND #{lastRow}
		</select> -->
		

		<!-- 이거 실패 -->
		<!-- pk가 cartid가 들어가는데 productNum으로 참조가 안되서 그런가?
		<resultMap type="OcartDTO" id="detailResult">
			<id column="cartId" property="cartId"/>
			<result column="id" property="id"/>
			<result column="productNum" property="productNum"/>
			<result column="productAmount" property="productAmount"/>
			<result column="payCheck" property="payCheck"/>
			썸네일 가져오기
			<collection property="thumbFilesDTOs" javaType="List" ofType="OproductFileThumbDTO">
				<id column="fileNumThumb" property="fileNumThumb"/>
				<result column="fileNameThumb" property="fileNameThumb"/>
				<result column="oriNameThumb" property="oriNameThumb"/>
			</collection>
		</resultMap>
		-->

		
		<!-- 카트 확인 -->
 		<select id="checkCart" resultType="OcartDTO" parameterType="OcartDTO">
			SELECT * FROM OCART WHERE ID=#{id} and PRODUCTNUM=#{productNum}
		</select>
		
		<!-- 결제페이지 관련 주영 추가 -->
		<select id="detailCart" parameterType="OcartDTO" resultType="OcartDTO">
			SELECT * FROM OCART WHERE CARTID=#{cartId}
		</select>
		
		<update id="payCheck" parameterType="OcartDTO">
			UPDATE OCART SET PAYCHECK=1 WHERE CARTID=#{cartId}
		</update>
		
	</mapper>





