<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cgv.s1.oproduct.review.OproductReviewDAO">

	<!-- File   -->
	<select id="listFile" parameterType="OproductReviewDTO" resultType="OproductReviewFileDTO">
    	SELECT * FROM OPRODUCTREVIEWFILE
    	WHERE NUM = #{num}
    </select>
    
    <select id="detailFile" parameterType="OproductReviewFileDTO" resultType="OproductReviewFileDTO"> 
    SELECT * FROM OproductReviewFile
    WHERE FILENUM = #{fileNum}
    </select>
    
    <insert id="addFile" parameterType="OproductReviewFileDTO">
    	insert into OproductReviewFile (FILENUM, NUM, FILENAME, ORINAME)
    	VALUES (opfile_seq.nextval, #{num}, #{fileName}, #{oriName})
    
    </insert>
	
	
	
	
	
	<select id="list" resultType="OproductReviewDTO" parameterType="OproductReviewDTO" resultMap="listResult">
		SELECT O.*, OFILE.*
		FROM
	        OPRODUCTREVIEW O
	            LEFT OUTER JOIN
	         OPRODUCTREVIEWFILE OFILE 
	        	ON O.NUM=OFILE.NUM
		WHERE   O.NUM=#{num} 
    	ORDER BY REPLYNUM DESC
	</select>
	
	<resultMap type="OproductReviewDTO" id="listResult">
		<result column="replyNum" property="replyNum"/>
		<result column="num" property="num"/>
			<result column="title" property="title"/>
	 		<result column="writer" property="writer"/>
	 		<result column="contents" property="contents"/>
	 		<result column="regdate" property="regdate"/>
	 	<collection property="fileDTOs" javaType="list" ofType="OproductReviewFileDTO">
	 		<id column="fileNum" property="fileNum"/>
 			<result column="fileName" property="fileName"/>
 			<result column="oriName" property="oriName"/>
	 	</collection>
	</resultMap>
	
	<insert id="add" parameterType="OproductReviewDTO">
	
	insert into OPRODUCTREVIEW(REPLYNUM, NUM, WRITER, CONTENTS, REGDATE)
	VALUES (OPRODUCTREVIEW_SEQ.nextval, #{num}, #{writer}, #{contents}, sysdate)
	
	</insert>
	
	<update id="update" parameterType="OproductReviewDTO">
		update OPRODUCTREVIEW SET CONTENTS = #{contents}
		WHERE REPLYNUM =#{replyNum}
	</update>
	
	<delete id="delete" parameterType="OproductReviewDTO">
		delete OPRODUCTREVIEW where REPLYNUM =#{replyNum}
	</delete>

</mapper>