<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cgv.s1.oproduct.review.OproductReviewDAO">

	<select id="list" resultType="OproductReviewDTO" parameterType="OproductReviewDTO">
		SELECT * FROM OPRODUCTREVIEW
    	WHERE NUM=#{num}
    	ORDER BY REPLYNUM DESC
	</select>
	
	<insert id="add" parameterType="OproductReviewDTO">
	
	insert into OPRODUCTREVIEW(REPLYNUM, NUM, WRITER, CONTENTS, REGDATE)
	VALUES (OPRODUCTREVIEW_SEQ.nextval, #{num}, #{writer}, #{contents}, sysdate)
	
	</insert>
	
	<update id="update" parameterType="OproductReviewDTO">
		update OPRODUCTREVIEW SET CONTENTS = #{contents}
		WHERE REPLYNUM =#{replyNum}
	</update>
	
	<delete id="delete" parameterType="OproductReviewDTO">
		delete OPRODUCTREVIEW where REPLYNUM =#{replyNum}
	</delete>

</mapper>