<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.cgv.s1.oproduct.OproductDAO">
	
		<!-- 타입 리스트 가져오기 -->
		<select id="typeList" resultType="OproductTypeDTO">
			SELECT * FROM OPRODUCTTYPE ORDER BY PRODUCTTYPE
		</select>
	
		<!-- 전체 리스트 출력 -->
		<select id="list" resultMap="detailResult" parameterType="Pager">
			SELECT OP.*, OT.typeName, OPFT.* FROM
			    (SELECT ROWNUM R, N.* FROM
			    (SELECT * FROM OPRODUCT WHERE 
			    PRODUCTNUM>0 
			    AND
				PRODUCTNAME		    
			    LIKE '%'||#{search}||'%'
			   ORDER BY PRODUCTNUM DESC) N) OP
			   		LEFT OUTER JOIN
		       OPRODUCTTYPE OT
    		   ON OP.PRODUCTTYPE = OT.PRODUCTTYPE
			  	   LEFT OUTER JOIN
			   OPRODUCTFILETHUMB OPFT
			   ON OP.PRODUCTNUM = OPFT.PRODUCTNUM  
			WHERE R BETWEEN #{startRow} AND #{lastRow}
			ORDER BY OP.PRODUCTNUM DESC
			
		</select>
		
		<!-- 페이징 처리시 숫자 가져오기 -->
		<select id="total" resultType="Long" parameterType="Pager">
			SELECT COUNT(PRODUCTNUM) FROM
			 (SELECT * FROM OPRODUCT WHERE
			 PRODUCTNUM>0
			 AND 
			 PRODUCTNAME		  
			 LIKE '%'||#{search}||'%')
		</select>
			
		<!-- 상품 세부 내용 출력 -->
		<select id="detail" resultMap="detailResult" parameterType="OproductDTO">
			SELECT OP.*, OPF.*, OT.*, OPFT.*
			FROM 
			    OPRODUCT OP
			        LEFT OUTER JOIN
			    OPRODUCTFILE OPF
			    ON OP.PRODUCTNUM = OPF.PRODUCTNUM
			    	LEFT OUTER JOIN
			    OPRODUCTFILETHUMB OPFT
			    ON OP.PRODUCTNUM = OPFT.PRODUCTNUM  
			        LEFT OUTER JOIN
			    OPRODUCTTYPE OT
			    ON OP.PRODUCTTYPE = OT.PRODUCTTYPE
			WHERE OP.PRODUCTNUM = #{productNum}
		</select>
			<!-- column은 위 select문에서 가져온것을 넣고, property는 DTO에 그 값을 넣는 변수명을 뜻함 -->
 			<resultMap type="OproductDTO" id="detailResult">
				<id column="productNum" property="productNum"/>
				<result column="writer" property="writer"/>
				<result column="productType" property="productType"/>
				<result column="typeName" property="typeName"/>
				<result column="productName" property="productName"/>
				<result column="productDetail" property="productDetail"/>
				<result column="productPrice" property="productPrice"/>
				<result column="productDC" property="productDC"/>
				<result column="productStock" property="productStock"/>
				<result column="productSale" property="productSale"/>
				<result column="regDate" property="regDate"/>
				<!-- thumbFile -->
				<!-- 같은 id(fileNum)으로 받아서 꼬여서 새로(fileNumThumb) 추가 -->
				<association property="oproductFileThumbDTO" javaType="OproductFileThumbDTO"> 
					<id column="fileNumThumb" property="fileNumThumb"/>
					<result column="fileNameThumb" property="fileNameThumb"/>
					<result column="oriNameThumb" property="oriNameThumb"/>
				</association>
				<!-- detailFile -->
				<collection property="fileDTOs" javaType="List" ofType="OproductFileDTO">
					<id column="fileNum" property="fileNum"/>
					<!-- <result column="productNum" property="productNum"/> -->
					<!-- 새로추가해봄 productNum 찍고싶어서 빼도될듯-->
					<result column="fileName" property="fileName"/>
					<result column="oriName" property="oriName"/>
				</collection>
			</resultMap>
	
		<!-- 상품 추가 -->
		<insert id="add" parameterType="OproductDTO">
			<selectKey keyProperty="productNum" order="BEFORE" resultType="Long">
				SELECT OPRODUCT_SEQ.NEXTVAL FROM DUAL
			</selectKey>
			INSERT INTO OPRODUCT VALUES(#{productNum}, #{writer}, #{productType}, #{productName}, #{productDetail}, 
			#{productPrice}, #{productDC}, #{productStock}, 0, SYSDATE)
		</insert>
		
		<!-- 상품 삭제 -->
		<delete id="delete" parameterType="OproductDTO">
			DELETE OPRODUCT WHERE PRODUCTNUM=#{productNum}
		</delete>
		
		<!-- 상품 수정 -->
		<update id="update" parameterType="OproductDTO">
			UPDATE OPRODUCT SET PRODUCTTYPE=#{productType}, PRODUCTNAME=#{productName}, PRODUCTDETAIL=#{productDetail},
			PRODUCTPRICE=#{productPrice}, PRODUCTDC=#{productDC}, PRODUCTSTOCK=#{productStock} WHERE PRODUCTNUM=#{productNum}
		</update>
		
		
		<!-- detail file 관리 -->
		<insert id="addFile" parameterType="OproductFileDTO">
			INSERT INTO OPRODUCTFILE(FILENUM, PRODUCTNUM, FILENAME, ORINAME)
			VALUES(OPFILE_SEQ.NEXTVAL, #{productNum}, #{fileName}, #{oriName})
		</insert>
		
		<select id="detailFile" parameterType="OproductFileDTO" resultType="OproductFileDTO">
			SELECT * FROM OPRODUCTFILE
			WHERE FILENUM=#{fileNum}
		</select>
		
		<select id="listFile" parameterType="OproductDTO" resultType="OproductFileDTO">
			SELECT * FROM OPRODUCTFILE
			WHERE PRODUCTNUM=#{productNum}
		</select>

		<delete id="deleteFile" parameterType="OproductFileDTO">
			DELETE OPRODUCTFILE WHERE FILENUM=#{fileNum}
		</delete>
		
		
		<!-- thumbNail file 관리 -->
		<!-- OPFILE과 SEQ 공유함 -->
		<insert id="addThumbFile" parameterType="OproductFileThumbDTO">
			INSERT INTO OPRODUCTFILETHUMB(FILENUMTHUMB, PRODUCTNUM, FILENAMETHUMB, ORINAMETHUMB)
			VALUES(OPFILE_SEQ.NEXTVAL, #{productNum}, #{fileNameThumb}, #{oriNameThumb})
		</insert>
		
		<select id="detailThumbFile" parameterType="OproductFileThumbDTO" resultType="OproductFileThumbDTO">
			SELECT * FROM OPRODUCTFILETHUMB
			WHERE FILENUMTHUMB=#{fileNumThumb}
		</select>
		
		<select id="listThumbFile" parameterType="OproductDTO" resultType="OproductFileThumbDTO">
			SELECT * FROM OPRODUCTFILETHUMB
			WHERE PRODUCTNUM=#{productNum}
		</select>

		<delete id="deleteThumbFile" parameterType="OproductFileThumbDTO">
			DELETE OPRODUCTFILETHUMB WHERE FILENUMTHUMB=#{fileNumThumb}
		</delete>
		
		<!-- 주문조회 관련 주영 추가 -->
		<select id="productCart" resultMap="productCartResult" parameterType="OrderDTO">
			SELECT PD.*, CT.PRODUCTAMOUNT
			FROM OPRODUCT PD
			    INNER JOIN
			    OCART CT
			    ON (PD.PRODUCTNUM = CT.PRODUCTNUM)
			WHERE CT.CARTID IN (SELECT CARTID FROM OCARTPAY WHERE PAYNUM=#{payNum})
		</select>
		<resultMap type="OproductDTO" id="productCartResult">
			<id column="productNum" property="productNum"/>
			<result column="writer" property="writer"/>
			<result column="productType" property="productType"/>
			<result column="typeName" property="typeName"/>
			<result column="productName" property="productName"/>
			<result column="productDetail" property="productDetail"/>
			<result column="productPrice" property="productPrice"/>
			<result column="productDC" property="productDC"/>
			<result column="productStock" property="productStock"/>
			<result column="productSale" property="productSale"/>
			<result column="regDate" property="regDate"/>
			<association property="cartDTO" javaType="OcartDTO">
				<id column="cartId" property="cartId"/>
				<result column="productAmount" property="productAmount"/>
				<result column="productNum" property="productNum"/>
			</association>
		</resultMap>
		
		<!-- 상품 구매 시 재고, 판매수 변경 -->
		<update id="stockAdd" parameterType="OcartDTO">
			UPDATE OPRODUCT SET PRODUCTSTOCK=PRODUCTSTOCK+#{productAmount}
			WHERE PRODUCTNUM=#{productNum}
		</update>
		<update id="stockSubtract" parameterType="OcartDTO">
			UPDATE OPRODUCT SET PRODUCTSTOCK=PRODUCTSTOCK-#{productAmount}
			WHERE PRODUCTNUM=#{productNum}
		</update>
		<update id="saleAdd" parameterType="OcartDTO">
			UPDATE OPRODUCT SET PRODUCTSALE=PRODUCTSALE+#{productAmount}
			WHERE PRODUCTNUM=#{productNum}
		</update>
		<update id="saleSubtract" parameterType="OcartDTO">
			UPDATE OPRODUCT SET PRODUCTSALE=PRODUCTSALE-#{productAmount}
			WHERE PRODUCTNUM=#{productNum}
		</update>
		
		
		
		<!-- 필요 없을거 같음 -->
		<!-- <select id="listFileDelete" parameterType="OproductFileDTO" resultType="OproductFileDTO">
			SELECT * FROM OPRODUCTFILE
			WHERE PRODUCTNUM=#{productNum}
		</select> -->
		

	</mapper>