<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cgv.s1.pay.PayDAO">
	<insert id="add" parameterType="payDTO">
		INSERT INTO OPAY (PAYNUM, PAYDATE, PAYMONEY, TOTALPRICE, ARRIVE, PAYCHECK)
		VALUES (OPAY_SEQ.NEXTVAL, SYSDATE, #{payMoney}, #{totalPrice}, #{arrive}, 1)
	</insert>
</mapper>